<h4>Template driven</h4>
<form (ngSubmit)="onSubmit()" #conctactForm="ngForm">
  <div style="display: inline-grid;">
    <label for="topic">Temat:</label>
    <input [(ngModel)]="message.topic" #topic="ngModel" type="text" id="topic" name="topic" required>
    <div *ngIf="!topic.valid && topic.dirty">Pole wymagane!</div>

    <label for="message">Wiadomość:</label>
    <textarea [(ngModel)]="message.message" #mes="ngModel" rows="4" cols="50" id="message" name="message" required minlength="50"></textarea>
    <div *ngIf="!mes.valid && mes.dirty">Pole wymagane!</div>
    <div *ngIf="mes.errors && mes.errors.minlength">Za krótka wiadomosć</div>

    <label for="name">Name:</label>
    <input [(ngModel)]="message.name" #name="ngModel" type="text" id="name" name="name" required>
    <div *ngIf="!name.valid && name.dirty">Pole wymagane!</div>

    <label for="email">E-mail:</label>
    <input [(ngModel)]="message.email" #email="ngModel" type="email" id="email" name="email" email required>
    <div *ngIf="!email.valid && email.dirty">Pole wymagane!</div>
    <div *ngIf="email.errors && email.errors.email && email.dirty">Zły adres e-mail</div>

    <label for="course">Który kurs jest najfajniejszy?</label>
    <select [(ngModel)]="message.course" id="course" name="course">
      <option *ngFor="let course of courses" [value]="course">{{course}}</option>
    </select>

    <div>
      <label for="bot">Jesteś botem?</label>
      <input [(ngModel)]="message.bot" [value]="true" type="radio" name="bot" id="bot">Tak
      <input [(ngModel)]="message.bot" [value]="false" type="radio" name="bot" id="bot">Nie
    </div>

    <button type="submit" [disabled]="!conctactForm.valid">Wyslij</button>
    <button type="reset" (click)="reset()">Reset</button>
  </div>
</form>
