<h4>Reactive Form</h4>
<form [formGroup]="contactForm">
  <div style="display: inline-grid;">
    <label for="topic">Temat:</label>
    <input type="text" id="topic" formControlName="topic">

    <label for="message">Wiadomość:</label>
    <textarea rows="4" cols="50" id="message" name="message" formControlName="message"></textarea>

    <label for="name">Name:</label>
    <input type="text" id="name" formControlName="name">

    <label for="email">E-mail:</label>
    <input type="email" id="email" formControlName="email">


    <label for="course">Który kurs jest najfajniejszy?</label>
    <select id="course" formControlName="course">
      <option *ngFor="let course of courses" [value]="course">{{course}}</option>
    </select>

    <div>
      <label for="bot">Jesteś botem?</label>
      <input [value]="true" type="radio" name="bot" id="bot" formControlName="bot">Tak
      <input [value]="false" type="radio" name="bot" id="bot" formControlName="bot">Nie
    </div>

    <button type="submit" >Wyslij</button>
    <button type="reset">Reset</button>
  </div>
</form>
